---
import Navigation from '../components/Navigation.astro'
import Header from '../components/Header.astro'

const { pageTitle, pathName } = Astro.props
const allPathNamePairs = ['/pieceForSmartphoneOrchestra', '/pieceForSmartphoneOrchestra/directions/', '/pieceForSmartphoneOrchestra/instrument/']
.map(path => {
  const name = path.slice(29, -1)
  return [path, name === '' ? 'About' : name.replace(name[0], name[0].toUpperCase())]
})
const pageName = allPathNamePairs.find(pair => pair[0] === pathName)[1]
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='author' content='Tassos Tsesmetzis' />
    <meta name='description'
	  content='Piece for Smartphone Orchestra is a sound work for any number of players and indeterminate duration.' />
    <meta name="theme-color" content="#222831" />
    <link rel="icon" href="/pieceForSmartphoneOrchestra/icons/smartphoneOrchestra_32x32.png" type="image/png" />
    <link rel="manifest" href="/pieceForSmartphoneOrchestra/smartphoneOrchestra.webmanifest" crossorigin="anonymous" />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle} {pathName !== '/pieceForSmartphoneOrchestra' ? ' | ' + pageName : ''}</title>
  </head>
  <body>
    <Header title={pageTitle} pageName={pageName} pathNamePairs={allPathNamePairs} />
    <main>
      <slot />
    </main>
  </body>
</html>
